.first-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include respond(md) {
    justify-content: flex-start;
    height: auto;

    h1 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  &__p {
    margin: 0;
    position: relative;
    top: 0;
  }

  & > * {
    transform: translateY(0);   
    transition: .9s transform cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  & > *::after {
    content: "";
    display:block;
    position: absolute;
    background-color: #FFF;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    transition: .6s height cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &.complete {
    &> * {
      transform: translateY(-50px); 
    }

    &> *::after {
      height: 100%;
    }

    .button--start {
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }
  }
}