.complete {
  transition: 1.2s all;
  transform: translateY(-100vh);
}

.screens {
  position: relative;
  height: 100vh;
}

// ..added screen two to move up from clicking winning recipe
.screen-two-move-up {
  transition: 1.2s all;
  transform: translateY(-200vh);
}