.complete {
  transition: .6s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: .8s;
  transform: translateY(-100vh);
}

.screens {
  position: relative;
  height: 80vh;
  margin: 10vh auto;
}

// ..added screen two to move up from clicking winning recipe
.screen-two-move-up {
  animation-delay: 5s;
  transition: .6s all cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(-200vh);
}