.second-screen {
  position: absolute;
  top: 100vh;
  &__image-container {
    height: 450px;
    width: 450px;
  }
  
  &__list {
    background-color: #FFF;
    list-style: none;
    position: relative;

    &::before {
      content: "";
      display: block;
      background: transparent;
      position: absolute;
      left: 100%;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

 &__popup {
    position: absolute;
    top: 100vh;
    color: white;
    width: 500px;
    transform: translateY(calc(-50% - 50vh));
    animation: moveup .2s;
    // ... added these
    background-image:
    radial-gradient(
      circle at top right,
      #DEA6EE,
      #5D2C58
    );
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px black;

    &.remove {
      animation: removal .4s ease-in-out;
      transform: translate(calc(-100% - 50vh), calc(-50% - 50vh));
    }
  }
}

// Disables all buttons when the user clicks a recipe name
#randomRecipes.active::before {
  left: 0;
}