$heading-font: 'Frank Ruhl Libre', serif;
$base-font: 'Arimo', sans-serif;

body {
  font-family: $base-font;
}

h1, button, h2 {
  font-family: $heading-font;
}

h1 {
  font-size: 4.2rem;
  margin: 0;
}

p {
  font-size: 1.8rem;
  margin: .8em 0;
}
// ... added second screen pop up typography
.second-screen__popup {
  h2, p {
    text-shadow: 0px 0px 4px black;
  }
}
// ... added anchor styling
a {
  text-decoration: none;
  color: #381A33;
  font-size: 2rem;
  &:hover{
    text-shadow: 1px 1px 1px #823F80, 5px 3px 0px #F4DDFC, 8px 7px 0px #DEA6EE
  }
}
// for youtube and recipe link external
.recipe-external-link {
  position: relative;
  overflow: hidden;
  display: inline-block; 
  &:hover {
    text-shadow: none;
  }
  &::before {
    content:'';
    position: absolute;
    background: linear-gradient(45deg, #DEA6EE, #DEA6EE);
    height: 50%;
    width: 100%;
    left: -100%;
    bottom: 0;
    transition: 0.5s;
    z-index: -1;
  }
  &:hover::before{
    left: 0;
  }
}